@import "./components/typography.css";
@import "./components/utilities.css";
@import "./components/color.css";
@import "./components/button/button.css";

:root {
  --transition-one: all 0.3s linear;
  --transition-two: 0.3s ease-in-out all;
  --borderRadius: 10px;
  --letterSpacing: 1px;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --gap: 12px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-grey-20);
  height: 100vh;
  z-index: 0;
}

/* body.landing-page {
  background: var(--clr-off-white);
} */

/* Header styles */
.header {
  background: none;
}

.header__container {
  display: flex;
  align-items: center;
  height: 4.5rem;
}

.header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 4rem;
}

.doc,
.github {
  color: var(--clr-blue-dark);
  margin: 1.75rem 0;
}

.doc:hover,
.github:hover {
  border-bottom: 1px solid var(--clr-blue-primary);
}

.header__logo {
  color: var(--clr-blue-dark);
}

.header__toggle {
  color: var(--clr-blue-dark);
}

@media (max-width: 800px) {
  .header__toggle {
    margin-left: auto;
  }
  .header__buttons {
    display: none;
  }
  h1 {
    text-align: center;
  }
}

/* main body */
.hero {
  margin: auto;
  padding: 0.5rem;
  width: 60vw;
  color: var(--clr-blue-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 4.5rem);
  justify-content: center;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.get-started-btn,
.github-btn {
  font-size: 1.3rem;
}

@media (max-width: 1200px) {
  .main {
    width: 70vw;
  }
}

@media (max-width: 1000px) {
  .hero {
    width: 80vw;
  }
}

@media (max-width: 800px) {
  .hero {
    width: 90vw;
  }
}

.standout {
  text-decoration: underline;
}
