
@import "./container-components.css";
@import "./header.css";
@import "./sidebar.css";
@import "../../components/utilities.css";
@import "../../components/typography.css";
@import "../../components/utilities.css";
@import "../../components/color.css";


:root {
  --transition-one: all 0.3s linear;
  --transition-two: 0.3s ease-in-out all;
  --borderRadius: 10px;
  --letterSpacing: 1px;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --gap: 12px;
  --sidebar-width: 16.94rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--clr-grey-20);
  height: 100vh;
  z-index: 0;
}

.highlight {
  background: var(--clr-highlight);
}
