<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlgernUI | Avatar</title>
    <link rel="stylesheet"
        href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/atom-one-dark.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

    <link rel="stylesheet" href="../../docSite/styles/docs.css">

    <link rel="stylesheet" href="avatar.css">
</head>

<body>


    <header class="header">
        <div class="header__container">
            <div class="header__toggle">
                <i class="bx bx-menu" id="header-toggle"></i>
            </div>
            <a href="../../index.html" class="header__logo">
                <h3 class="header-logo">AlgernUI</h3>
            </a>
        </div>
    </header>

    <div class="nav" id="navbar">
        <aside class="nav__container">
            <div class="nav__list">
                <div class="nav__items">
                    <h4 class="nav__subtitle">Getting Started</h4>
                    <a href="../../docSite/docs.html" class="nav__link">
                        <span class="nav__name">Installation</span>
                    </a>
                    <h4 class="nav__subtitle">Components</h4>
                    <a href="../alert/alert.html" class="nav__link">
                        <span class="nav__name">Alerts</span>
                    </a>
                    <a href="#" class="nav__link active">
                        <span class="nav__name">Avatar</span>
                    </a>
                    <a href="../badge/badge.html" class="nav__link">
                        <span class="nav__name">Badge</span>
                    </a>
                    <a href="../button/button.html" class="nav__link">
                        <span class="nav__name">Button</span>
                    </a>
                    <a href="../card/card.html" class="nav__link">
                        <span class="nav__name">Card</span>
                    </a>
                    <a href="../grid/grid.html" class="nav__link">
                        <span class="nav__name">Grid</span>
                    </a>
                    <a href="../image/image.html" class="nav__link">
                        <span class="nav__name">Image</span>
                    </a>
                    <a href="../input/input.html" class="nav__link">
                        <span class="nav__name">Input</span>
                    </a>
                    <a href="../list/list.html" class="nav__link">
                        <span class="nav__name">List</span>
                    </a>
                    <a href="../modal/modal.html" class="nav__link">
                        <span class="nav__name">Modal</span>
                    </a>
                    <a href="../navbar/navbar.html" class="nav__link">
                        <span class="nav__name">Navbar</span>
                    </a>
                    <a href="../rating/rating.html" class="nav__link">
                        <span class="nav__name">Rating</span>
                    </a>
                    <a href="../snackbar/snackbar.html" class="nav__link">
                        <span class="nav__name">Snackbar</span>
                    </a>
                    <a href="../text-utils/textUtils.html" class="nav__link">
                        <span class="nav__name">Text Utilities</span>
                    </a>
                </div>
        </aside>
    </div>
    <div class="container">
        <h2>Avatar</h2>
        <p class="margin-bottom-1 underline">An avatar is a visual representation of a user or entity</p>
        <div class="container__components">
            <img class="avatar avatar-xxl" src="https://images6.alphacoders.com/119/1199914.png" alt="gojo" />
            <img class="avatar avatar-xl" src="https://images6.alphacoders.com/119/1199914.png" alt="gojo" />
            <img class="avatar avatar-l" src="https://images6.alphacoders.com/119/1199914.png" alt="gojo" />
            <img class="avatar avatar-standard" src="https://images6.alphacoders.com/119/1199914.png" alt="gojo" />
        </div>

        <pre>
            <code class="container__code" class="html language-html"> 
    <img class="avatar avatar-xxl" src="https://images6.alphacoders.com/119/1199914.png" alt="gojo" />
    <img class="avatar avatar-xl" src="https://images6.alphacoders.com/119/1199914.png" alt="gojo" />
    <img class="avatar avatar-l" src="https://images6.alphacoders.com/119/1199914.png" alt="gojo" />
    <img class="avatar avatar-standard" src="https://images6.alphacoders.com/119/1199914.png" alt="gojo" />
            </code>
        </pre>
    </div>

    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad()</script>
    <script src="../../docSite/highlightsJs.js"></script>
    <script src="../../docSite/script.js"></script>
</body>

</html>