.bottom-gutter-large {
  margin-bottom: 4rem;
}

.bottom-gutter-medium {
  margin-bottom: 3rem;
}

.bottom-gutter-normal {
  margin-bottom: 2rem;
}

.bottom-gutter-small {
  margin-bottom: 1rem;
}

.bottom-gutter-xsmall {
  margin-bottom: 0.5rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.light-shadow {
  box-shadow: var(--light-shadow);
}

.dark-shadow {
  box-shadow: var(--dark-shadow);
}

.underline {
  border-bottom: 1px solid var(--clr-grey-50);
}

.m-0 {
  margin: 0;
}

.m-l-p5 {
  margin-left: 0.5rem;
}
.m-r-p5 {
  margin-right: 0.5rem;
}

.m-lr-1 {
  margin: 0 1rem;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold-text {
  font-weight: bold;
}

.bolder-text {
  font-weight: bolder;
}
