.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.margin-0 {
  margin: 0;
}

.margin-left-p5 {
  margin-left: 0.5rem;
}
.margin-right-p5 {
  margin-right: 0.5rem;
}

.margin-lr-1 {
  margin: 0 1rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.light-shadow {
  box-shadow: var(--light-shadow);
}

.dark-shadow {
  box-shadow: var(--dark-shadow);
}

.underline {
  border-bottom: 1px solid var(--clr-grey-50);
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.normal-text {
  font-weight: normal;
}

.bold-text {
  font-weight: bold;
}

.bolder-text {
  font-weight: bolder;
}
