@import "../utilities.css";

.container__components {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.unordered-list-circle {
  list-style-type: circle;
}

.unordered-list-disc {
  list-style-type: disc;
}

.unordered-list-square {
  list-style-type: square;
}

.ordered-list-lower-alpha {
  list-style-type: lower-alpha;
}

.ordered-list-upper-alpha {
  list-style-type: upper-alpha;
}

.ordered-list-upper-roman {
  list-style-type: upper-roman;
}
.ordered-list-lower-roman {
  list-style-type: lower-roman;
}

.stacked {
  border: 1px solid black;
  /* padding: 1rem; */
  width: 5rem;

  background: var(--clr-grey-20);
}
.stacked ul {
  width: 100%;
  text-align: center;
}
.item {
  width: 100%;
  padding: 5px;
  cursor: pointer;
  transition: var(--transition-one);
  border-bottom: 1px solid var(--clr-grey-40);
}
.item:hover{
    background: var(--clr-grey-50);
}
