<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlgernUI | Rating</title>
    <link rel="stylesheet"
        href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/styles/atom-one-dark.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link rel="stylesheet" href="../../docSite/styles/docs.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <link rel="stylesheet" href="rating.css">
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

</head>

<body>
    <header class="header">
        <div class="header__container">
            <div class="header__toggle">
                <i class="bx bx-menu" id="header-toggle"></i>
            </div>
            <a href="../../index.html" class="header__logo">
                <h3 class="header-logo">AlgernUI</h3>
            </a>
        </div>
    </header>

    <div class="nav" id="navbar">
        <aside class="nav__container">
            <div class="nav__list">
                <div class="nav__items">
                    <h4 class="nav__subtitle">Getting Started</h4>
                    <a href="../../docSite/docs.html" class="nav__link">
                        <span class="nav__name">Installation</span>
                    </a>
                    <h4 class="nav__subtitle">Components</h4>
                    <a href="../alert/alert.html" class="nav__link">
                        <span class="nav__name">Alerts</span>
                    </a>
                    <a href="../avatar/avatar.html" class="nav__link">
                        <span class="nav__name">Avatar</span>
                    </a>
                    <a href="../badge/badge.html" class="nav__link">
                        <span class="nav__name">Badge</span>
                    </a>
                    <a href="../button/button.html" class="nav__link">
                        <span class="nav__name">Button</span>
                    </a>
                    <a href="../card/card.html" class="nav__link">
                        <span class="nav__name">Card</span>
                    </a>
                    <a href="../image/image.html" class="nav__link ">
                        <span class="nav__name">Image</span>
                    </a>
                    <a href="../input/input.html" class="nav__link ">
                        <span class="nav__name">Input</span>
                    </a>
                    <a href="../modal/modal.html" class="nav__link">
                        <span class="nav__name">Modal</span>
                    </a>
                    <a href="../navbar/navbar.html" class="nav__link">
                        <span class="nav__name">Navbar</span>
                    </a>
                    <a href="#" class="nav__link active">
                        <span class="nav__name">Rating</span>
                    </a>
                    <a href="../snackbar/snackbar.html" class="nav__link">
                        <span class="nav__name">Snackbar</span>
                    </a>
                </div>
        </aside>
    </div>
    <div class="container">
        <h2>Rating</h2>
        <h3>Read only Rating</h3>
        <div class="container__components">
            <div class="rating">
                <i class='bx bxs-star rating-icon rated'></i>
                <i class='bx bxs-star rating-icon rated'></i>
                <i class='bx bxs-star rating-icon rated'></i>
                <i class='bx bxs-star rating-icon'></i>
                <i class='bx bxs-star rating-icon'></i>
            </div>
        </div>
        <pre>
            <code class="container__code html" >
                <div class="rating">
                    <i class='bx bxs-star rating-icon rated'></i>
                    <i class='bx bxs-star rating-icon rated'></i>
                    <i class='bx bxs-star rating-icon rated'></i>
                    <i class='bx bxs-star rating-icon'></i>
                    <i class='bx bxs-star rating-icon'></i>
                </div>
            </code>
        </pre>
        <h3>Live rating</h3>
        <div class="container__components">
            <div class="rating star-rating">
                <div class="star-container">
                    <input type="radio" name="rate" id="star-5" />
                    <label for="star-5" class="bx bxs-star"></label>
                    <input type="radio" name="rate" id="star-4" />
                    <label for="star-4" class="bx bxs-star"></label>
                    <input type="radio" name="rate" id="star-3" />
                    <label for="star-3" class="bx bxs-star"></label>
                    <input type="radio" name="rate" id="star-2" />
                    <label for="star-2" class="bx bxs-star"></label>
                    <input type="radio" name="rate" id="star-1" />
                    <label for="star-1" class="bx bxs-star"></label>
                </div>
            </div>
        </div>
        <pre>
            <code class="container__code html" >
                <div class="rating star-rating">
                    <div class="star-container">
                        <input type="radio" name="rate" id="star-5" />
                        <label for="star-5" class="bx bxs-star"></label>
                        <input type="radio" name="rate" id="star-4" />
                        <label for="star-4" class="bx bxs-star"></label>
                        <input type="radio" name="rate" id="star-3" />
                        <label for="star-3" class="bx bxs-star"></label>
                        <input type="radio" name="rate" id="star-2" />
                        <label for="star-2" class="bx bxs-star"></label>
                        <input type="radio" name="rate" id="star-1" />
                        <label for="star-1" class="bx bxs-star"></label>
                    </div>
                </div>
            </code>
        </pre>
    </div>
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad()</script>
    <script src="../../docSite/script.js"></script>
    <script src="../../docSite/highlightsJs.js"></script>
</body>

</html>