.rating {
  display: flex;
  gap: 5px;
}
.rating-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-90);
  background: none;
}
.rated {
  color: var(--clr-yellow);
}

/* Read-write rating */
.star-rating {
  position: relative;
  width: fit-content;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.star-rating .star-container input {
  display: none;
}
.star-rating label {
  font-size: 1.5rem;
  color: var(--clr-grey-90);
  margin-left: 5px;
  float: right;
}
.star-container input:not(:checked) ~ label:hover,
.star-container input:not(:checked) ~ label:hover ~ label {
  color: var(--clr-yellow);
}
input:checked ~ label {
  color: var(--clr-yellow);
}
