
@import "../avatar/avatar.css";

.badge {
  border-radius: 50%;
  position: absolute;
}

.badge__container {
  position: relative;
}

.badge-xxl {
  height: 1.1rem;
  width: 1.1rem;
  bottom: 15px;
  right: 15px;
}

.badge-xl {
  height: 0.8rem;
  width: 0.8rem;
  bottom: 12px;
  right: 12px;
}

.badge-l {
  height: 0.6rem;
  width: 0.6rem;
  bottom: 9px;
  right: 6px;
}

.badge-standard {
  height: 0.5rem;
  width: 0.5rem;
  bottom: 7px;
  right: 2px;
}

.busy {
  background: var(--clr-red);
}

.online {
  background: var(--clr-green);
}

.unavailable {
  background: var(--clr-grey-80);
}

.icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
}

.icon-badge {
  background: var(--clr-red);
  color: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 1.2rem;
  width: 1.2rem;
  top: -3px;
  right: -5px;
}
